<title>Home <%=config.website_settings.title%></title>

    <meta content="Nova bot" property="og:title" />
    <meta content="A 200 command multi use discord bot" property="og:description" />
    <meta content="https://dashboard.nova-bot.tk" property="og:url" />

    <meta content="#2f3136" data-react-helmet="true" name="theme-color" />
    <link rel="stylesheet" href="https://assets.nova-bot.tk/assets/css/bulma.min.css" />
    <link rel="stylesheet" href="https://assets.nova-bot.tk/assets/css/style.css" />
    <link href="https://assets.nova-bot.tk/assets/aos/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://assets.nova-bot.tk/assets/tippy/animations/scale.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <script src="https://assets.nova-bot.tk/assets/js/jquery-3.6.0.js"></script>
  </head>
  <body>
    <a id="backtotop" data-tippy-content="Back To Top.">
      <i class="fa-solid fa-angle-up has-text-white fa-2xl mt-5"></i>
    </a>

    <nav
      class="navbar is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand mt-2 mb-2">
        <a class="navbar-item" href="#">
          <strong>Nova</strong>
        </a>

        <a
          role="button"
          class="navbar-burger has-text-white"
          data-target="navMenu"
          aria-label="menu"
          aria-expanded="false"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="#" class="navbar-item is-tab">
            Home
          </a>

          <a href="#features" class="navbar-item is-tab">
            Features
          </a>

          <a href="#stats" class="navbar-item is-tab">
            Stats
          </a>
          
        </div>

        <div class="navbar-end">
          <a href="https://discord.gg/BASBGn7Gwh" class="navbar-item is-tab" target="_blank">
            <i class="fa-brands fa-discord"></i>
          </a>

          <a href="https://github.com/nova-develoment-team/" class="navbar-item is-tab" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>

          <div class="navbar-item">
    
            <li class="nav-item dropdown">
              <a class="nav-link btn btn-discord dropdown-toggle has-text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-bars"></i> <img src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>" class="nav-userProfile-image"/><b><%=user.username%></b><small>#<%=user.discriminator%></small>   
              </a>              
            <div class="dropdown-menu dropdown-menu-right animate slideIn" style="max-width:220px!important;">
                <a class="dropdown-item" href="/console"><i class="fa fa-id-card mr-2"></i> Console</a>
                <a class="dropdown-item" href="/console/select"><i class="fa-solid fa-list-radio"></i> Selector</a>
                <% if (user.id=="845312519001342052"){ %>
                <a class="dropdown-item" href="/console/admin/dashboard"><i class="fa-solid fa-screwdriver-wrench"></i> Admin</a>
<% } %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item dropdown-danger" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </div>
          </li>
            </div>
          </div>
        </div>
      </div>
    </nav>
